{{ form_start(form.nom_recette) }}
	<div>
		{{ form_label(form.nom_recette) }} :
		{{ form_errors(form.nom_recette) }}
		{{ form_errors(form.nom_recette) }}
		{{ form_widget(form.nom_recette) }}
	</div>
	
{{ form_end(form.nom_recette) }}

{{ form_start(form.ingredients) }}
	<div>
		{{ form_label(form.ingredients) }} :
		{{ form_errors(form.ingredients) }}
		<ul id="ingredient-fields-list"
        data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}">
		{% for ingredientField in form.ingredients %}
			<li>
				{{ form_errors(ingredientField) }}
				{{ form_widget(ingredientField) }}
			</li>
		{% endfor %}
		</ul>

		<button type="button"
			class="add-another-collection-widget"
			data-list="#ingredient-fields-list">Ajouter un ingredient
		</button>
	</div>
	
{{ form_end(form.ingredients) }}

{{ form_start(form.note) }}
	<div>
		{{ form_label(form.note) }} :
		{{ form_errors(form.note) }}
		{{ form_errors(form.note) }}
		{{ form_widget(form.note) }}
	</div>
	
{{ form_end(form.note) }}

{{ form_start(form.difficulte) }}
	<div>
		{{ form_label(form.difficulte) }} :
		{{ form_errors(form.difficulte) }}
		{{ form_errors(form.difficulte) }}
		{{ form_widget(form.difficulte) }}
	</div>
	
{{ form_end(form.difficulte) }}

{{ form_start(form.description) }}
	<div>
		{{ form_label(form.description) }}
		{{ form_errors(form.description) }}
		{{ form_widget(form.description) }}
		{{ form_help(form.description) }}
	</div>
	<div>
		<button class="btn">{{ button_label|default('Sauvegarder') }}</button>
	</div>
	
{{ form_end(form.description) }}

