{{ form_start(form) }}
	
<div class="container" style="margin-top:50px">	
	<div class="row">
		<div class="col-md">
			<div class="row" style="margin-top:10px">
				<div class="col-md-3">
					{{ form_label(form.nom_recette) }} :
					{{ form_errors(form.nom_recette) }}
				</div>
				<div class="col-md-3">
					{{ form_widget(form.nom_recette) }}
					{{ form_help(form.nom_recette) }}
				</div>
			</div>
			<div class="row" style="margin-top:10px">
				<div class="col-md-3">
					{{ form_label(form.note) }} :
					{{ form_errors(form.note) }}
				</div>
				<div class="col-md-3">
					{{ form_widget(form.note) }}
					{{ form_help(form.note) }}
				</div>
			</div>
			<div class="row" style="margin-top:10px">
				<div class="col-md-3">
					{{ form_label(form.difficulte) }} :
					{{ form_errors(form.difficulte) }}
				</div>
				<div class="col-md-3">
					{{ form_widget(form.difficulte) }}
					{{ form_help(form.difficulte) }}
				</div>
			</div>
				
			<div class="col-md">
				<div class="row" style="margin-top:10px">	
					{{ form_label(form.description) }} :
					{{ form_errors(form.description) }}
				</div>	
				<div class="row" style="margin-top:10px">
					{{ form_widget(form.description) }}
					{{ form_help(form.description) }}
				</div>
			</div>	

			<div class="col-md" style="margin-top:20px">
				<div class="row">
					<button class="btn btn-danger">{{ button_label|default('Sauvegarder') }}</button>
				
					<div class="col-4" style="margin-top:20px">
						<a href="{{ path('recette_index') }}">Retour à la liste</a>
					</div>
					{% if recette.id|length > 0 %}
						<div class="col-3" style="margin-top:20px">
							<a href="{{ path('recette_show', {'id': recette.id}) }}">Voir la recette</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="col-md">
			{{ form_label(form.ingredients) }} :
				
				<div class="form-group" id="ingredient-fields-list"
						data-prototype="<input type=&quot;text&quot;id=&quot; recette_ingredients___name___nom_ingredient&quot; name=&quot;recette[ingredients][__name__][nom_ingredient]&quot; required=&quot;required&quot; /><button type=&quot;button&quot; id=&quot;recette_ingredients___name___Suppr&quot; name=&quot;recette[ingredients][__name__][Suppr]&quot; class=&quot;remove-collection-widget btn btn-outline-warning&quot; data-list=&quot;#ingredient-fields-list&quot; style=&quot;font-weight: bold; height: 30px; line-height:10px; margin-left:10px;&quot;>Suppr</button>"
						data-widget-tags="{{ '<div class="form-group"></div>'|e }}">

					{% for ingredientField in form.ingredients %}
						<div class="form-group">
							{{ form_errors(ingredientField) }}
							{{ form_widget(ingredientField.nom_ingredient) }} 
							{{ form_widget(ingredientField.Suppr) }} 
							{{ form_help(ingredientField) }}
						</div>
					{% endfor %}
					
					{% do form.ingredients.setRendered %}
					
				</div>

				<input type="button"
					class="add-another-collection-widget btn btn-outline-info"
					data-list="#ingredient-fields-list" value="Ajout" style="font-weight: bold; height: 30px; line-height:10px;" />

		</div>			

		{{ form_end(form) }}

	</div>
</div>